In [9]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson Hight School", "Wright High School"]

for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson Hight School
Wright High School

In [10]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for high_schools in high_school_types:
    print(high_schools)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [11]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [12]:
# Add the Pandas dependency
import pandas as pd

In [13]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [20]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [21]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [22]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [23]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [24]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [26]:
schools_df["School Name"] = school_name
schools_df["Type"] = type_of_school
print(schools_df)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [28]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [30]:
high_schools_df = pd.DataFrame(high_schools_dict)

In [31]:
schools_df.columns

Index(['School ID', 'School Name', 'Type'], dtype='object')

In [32]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [33]:
schools_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [35]:
#Skills Drill
school_id2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
schools_name2 = ["Huang High School", " Figueroa High School", "Shelton  High School", "Hernandez  High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
type_column2 = ["District", "District", "Charter","District", "Charter", "Charter", "Charter", "Distric", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]
new_df2 = pd.DataFrame()
new_df2["School ID"] = school_id2
new_df2["schools_name"] = schools_name2
new_df2["Type"] = type_column2
print(new_df)

    School ID            schools_name      Type
0           0       Huang High School  District
1           1    Figueroa High School  District
2           2    Shelton  High School   Charter
3           3  Hernandez  High School  District
4           4     Griffin High School   Charter
5           5      Wilson High School   Charter
6           6     Cabrera High School   Charter
7           7      Bailey High School   Distric
8           8      Holden High School   Charter
9           9        Pena High School   Charter
10         10      Wright High School   Charter
11         11   Rodriguez High School  District
12         12     Johnson High School  District
13         13        Ford High School  District
14         14      Thomas High School   Charter